body {
    height: 100vh;
    background-color: floralwhite;
    padding-top: 60px; /* adjust the value to match the height of your nav bar */

    font-family: 'Roboto', sans-serif;
}

.outer-cont {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.nav-right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-class {
    background-color: #001F3F;
    height: 55px;

}

.dropbtn {
    border: 0px;
    background: transparent;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 10px;
}

.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.profile-pic img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /*border: 1px solid white;*/
}

.profile-pic-side-dropdown {
    margin-left: 5px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4px;
}

.profile-pic-side-dropdown img {
    width: 25px;
    height: 25px;
}

.main-cont {
    min-width: 760px;
    max-width: 800px;
    background-color: white;
}

.nav-my-trip-cont {
    display: flex;

}

.nav-my-trip-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.nav-my-trip-img img {
    width: 28px;
    height: 28px;
}

.nav-my-trip {
    font-weight: 500;
    padding-top: 3px

}

.normal-ride {
    font-weight: 500;
}

.normal-ride img {
    width: 24px;
    margin-right: 5px;
}

.package-ride {
    font-weight: 500;

}

.hr-for-divs {
    margin: 0px;
}


.package-ride img {
    width: 24px;
    margin-right: 5px;

}


.type-of-ride {
    display: flex;
    justify-content: center;
}

.ride-type-active {
    border-bottom: 2px solid #001F3F;
}

@media only screen and (min-width: 360px) and (max-width: 767px) {

    .main-cont {
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
    }


}


/*------------------------------------dropdown----------------------------*/


.dropdown:hover > .dropdown-content {
    opacity: 1;
    /*display: initial;*/
    visibility: visible;
    transform: translateY(-2px);
    transition: opacity 0.5s, transform 0.5s;
}

.dropdown-content {
    animation: 0.5s slideup;
    background-color: ghostwhite;
    position: absolute;
    top: 40px;
    right: 8px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    text-decoration: none;
    text-wrap: nowrap;
    z-index: 1000;
    box-shadow: 0px 0px 8px grey;
    border-radius: 5px;
    transition: background-color 0.5s ease;
    opacity: 0;
    transform: translateY(2rem);
}

.hr-setting {
    margin: 0px !important;
    padding: 0px !important;
}

.dropdown-list {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin: 2px 4px;
    padding: 10px 4px;
}

.dropdown-list:hover {
    background: #dcdcdc;
}

.dropdown-list img {
    margin: 0px 4px;
    padding: 0px 4px;
    width: 27px;
    height: 27px;
    filter: hue-rotate(0deg) saturate(0) brightness(0);
}

@keyframes slideup {
    from {
        transform: translateY(25px);
    }
    to {
        transform: translateY(0);
    }
}

.dropdown:hover.dropdown-content {
    animation: 0.5s slideup;
}

.show-mobile {
    display: none;
}

.nati-cont {
    /*background-color: #0D63A5;*/
    padding: 8px;
    border-radius: 12px;
}

/*---------------------common buttons-----------------------------*/

.common-btn-color7-theme {
    background-color: transparent;
    color: white;
    transition: background-color 0.3s ease;
    border: 0px solid black;
    /*border-radius: 25px;*/
    margin: 5px 12px 5px 12px;
    padding: 2px 14px;
    /*background-color: #0D63A5;*/
    padding: 8px;
    border-radius: 12px;
}

.common-btn-color7-theme:hover {
    background-color: #0D63A5;
    color: #FFD717;
}


.common-btn-color3-theme {
    background-color: #0D63A5;
    color: white;
    transition: background-color 0.3s ease;
}

.common-btn-color3-theme:hover {
    background-color: #001F3F;
    color: #FFD717;
}


/*-------------------------------------notifcation div-------------------------------------------------------*/
.my-tips-text {
    font-size: 24px;
    font-weight: 500;
    color: #001F3F;
    margin-top: 20px;
    margin-bottom: 12px;
}

.noti-container {
    display: flex;
    height: auto;
    align-items: stretch; /* Ensures child elements stretch to the same height */
    position: relative;
    border: 0px solid transparent;
    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px -2px;
}

.my-trip-serviceType {
    font-size: 16px;
    font-weight: 500;
    color: #999999;
}

.service-type-text {
    font-size: 17px;
    font-weight: 500;
}

.my-trip-time {
    color: gray;
    position: absolute;
    right: 2%;
    font-size: 14px;
    top: 12px;
}

.my-trip-status {
    position: absolute;
    right: 2%;
    font-size: 14px;
    top: 45px;
}

.accordion-button {
    cursor: pointer;
    position: absolute;
    right: 2%;
    font-size: 15px;
    display: block;
    bottom: 15%;
    text-decoration: underline;
    background: none;
    border: none;
    padding: 0;
    background-color: white !important;
    width: 75px !important;
    text-wrap: nowrap !important;
}

.my-trip-accor-details-cont {
    width: 100%;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Ensures content is centered vertically */
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none !important;
}

.hr-accor {
    margin: 7px 0px 7px 0px;
}

.noti-img-cont {
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: #083358;
    align-items: center;
    /*height: 100%; !* Ensures this element stretches to the height of its parent *!*/
}

.my-trip-accor-details {
    display: flex;
    flex-direction: column;
}

.noti-img-cont img {
    width: 32px;
    height: 32px;
}

.my-trip-accor-details-resp {
    text-wrap: nowrap;
}

.my-trip-accor-details-resp-cont {
    display: flex;
    flex-direction: row;
}

.my-trip-pickup {
    text-wrap: wrap;
    width: 70%;
}

/*-----back button---------*/


.back-button {
    margin-right: 15px;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    /*position: absolute;*/
    /*left: 5%;*/
    /*top: 5%;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#back-button img {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(304deg) brightness(110%) contrast(101%);
}

.back-button:hover {
    background-color: #001F3F; /* darker blue background on hover */
}

#back-arrow {
    width: 30px; /* initial image size */
    height: 30px;
    filter: none; /* initial filter */
}

#back-arrow:hover {
    width: 35px; /* larger image size on hover */
    height: 35px;
    filter: brightness(0) invert(1); /* white filter on hover */
}


/*-------------give rating-----------------*/

.give-star {
    cursor: pointer;
    width: 24px;
    height: 24px;
    fill: gray;
}

.star-filled {
    fill: #f59e0b;
}

.star-half-filled {
    fill: url(#half-filled-gradient);
}

#give-rating-system {
    /*padding-right: 12px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ratting-modal-content {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.ratting-start-allign {
    display: flex;

    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 20px;

}

.ratting-start-allign svg {
    width: 45px;
    height: 45px;
}

#rating-text, #rating-text-conclude {
    text-wrap: nowrap;
}

.pay-to-captain {
    font-weight: 500;
    font-size: 20px;
    /*color: gray;*/
}

.pay-amount {
    font-weight: 600;
    color: black;
    font-size: 24px;
}

.thank-you {
    font-weight: 500;
    color: #001F3F;
    font-size: 20px;
}

.captain-info-profile-conclude {
    width: 41px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px 0px 15px;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.captain-info-profile-conclude img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /*border: 1px solid white;*/
}

.always-focus {
    color: #0c0c0c;
    position: absolute;
    font-size: 12px;
    top: -9px;
    left: 11px;
    padding: 2px 4px;
    background: white;
}


/*-----------card--------------------------------------------------------------*/

.my-trip-status-value {
    color: red;
    font-weight: 500;
}

.captain-info-nav {
    background-color: #0D63A5;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*border-top-right-radius: 15px;*/
    /*border-top-left-radius: 15px;*/
}

.captain-info-profile {
    width: 41px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px 0px 20px;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.ratings-star {
    color: white;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 5px 0px 0px 0px;
}


#rating-system {
    padding-right: 12px;
    width: 180px;
}

.captain-info-profile img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /*border: 1px solid white;*/
}

.captain-info-discription {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 12px;
}

.captain-info-name {
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.captain-info-cont {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 12px;
    margin: 20px 0px 5px 0px;
}

.captain-info-otp-field {
    display: flex;
    justify-content: center;
    width: 100%;
}

.otp-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
}

.otp-wrapper input:focus {
    outline: none;
}

.otp-wrapper input {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #0D63A5;
    border-radius: 8px;
    background-color: #0D63A5;
    color: #ffffff;
    font-weight: 500;
}

.otp-wrapper input::placeholder {
    color: #ffffff50
}

.otp-notes {
    font-size: 14px;
    color: rgb(63, 63, 63);
    display: flex;
    font-weight: 500;
    justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
    padding: 0px 0px 0px 12px;
}

.captain-info-rout-info-cont {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0px 12px 0px 12px;
    margin: 20px 0px 20px 0px;
}

.help-line {
    display: none;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0px 12px 0px 12px;
    margin: 20px 0px 20px 0px;
}

.captain-info-cancel-text {
    font-size: 18px;
    font-weight: bold;
    color: #337ab7;
    /*margin-top: 6px;*/
}

/*------below card----------------------*/
.trip-details-bottom-cont {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.trip-details-bottom-cont > div {
    width: 50%;
}


.left-part {
    border-right: 1px solid gray;
    margin-right: 30px;
    /*background: #0D63A5;*/
}

.left-part > div {
    display: flex;

    justify-content: space-between;
    margin-right: 35px;
}

.cancelation-reason {
    padding: 0px 12px 12px 12px;
    font-size: 15px;
    font-weight: 500;
}

.right-part > div {
    display: flex;
    justify-content: space-between;
    margin-right: 35px;
}

@media only screen and (min-width: 360px) and (max-width: 460px) {

    #reached {
        font-size: 16px;
    }

    .ratting-modal-header {
        padding-right: 0px;
    }

    .captain-info-discription {
        display: flex;
        width: 100%;
        flex-direction: row;
        padding-left: 5px;
    }


}


/*-----------card-------------------------------*/

@media only screen and (max-width: 756px) and (min-width: 360px) {

    .my-trip-pickup {
        text-wrap: wrap;
        width: 70%;
    }

    .my-trip-time {
        color: gray;
        position: absolute;
        right: 2%;
        font-size: 14px;
        top: 45px;
    }

    .status-hide-this {
        display: none;
    }

    .my-trip-container {
        width: 100% !important;
        max-width: 100% !important;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }


    .my-trip-accor-details-resp-cont {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .show-mobile {
        display: initial;
    }

    .nav-my-trip-cont {
        display: none;
    }

    .nati-cont {
        display: none;
    }


    .accordion-button {
        cursor: pointer;
        position: absolute;
        right: 2%;
        font-size: 14px;
        display: block;
        bottom: 10px;
        text-decoration: underline;
        background: none;
        border: none;
        padding: 0;
        background-color: white !important;
        width: 75px !important;
        text-wrap: nowrap !important;
    }

    .dropbtn {
        border: 0px;
        background: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 0px;
        margin-right: 5px;
    }

    .profile-pic {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5);
    }

    .my-trip-status {
        color: gray;
        position: absolute;
        right: 2%;
        font-size: 14px;
        top: 65px;
    }

    .profile-pic img {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        /* border: 1px solid white; */
    }

    .nav-class {
        background-color: #001F3F;
        height: 45px;
        padding: 0px;
    }

    .trip-details-bottom-cont > div {
        width: 100%;
    }

    .trip-details-bottom-cont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px;
    }

    .left-part {
        border: none;
        margin-right: 0px;
        /*background: #0D63A5;*/
    }

    @media only screen and (max-width: 756px) and (min-width: 360px) {
        .noti-img-cont {
            width: 100px;
            display: flex;
            justify-content: center;
            background-color: #0D63A5;
            align-items: flex-start;
        }

        .ratings-star {
            color: white;
            font-weight: 500;
            font-size: 18px;
            display: flex;
            /*flex-direction: row;*/
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            margin: 5px 0px 0px 0px;
        }

        .captain-info-nav {
            height: 75px;
        }

        .noti-img-cont img {
            margin-top: 20px;
        }

        .my-trip-accor-details-resp-cont {

            margin-top: 12px;
        }

        #rating-system {
            padding-right: 12px;
            width: 190px;
        }
    }

}